*,::before,::after{
  box-sizing: border-box;
}


body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #494966;
  padding: 1rem;
  margin: 0 auto;
  max-width: 60rem;
}

h1, h2{
  font-weight: 400;
  color: white;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2.5rem;
  font-style: italic;
}


form{
  color:whitesmoke;
  padding: 2rem;
  /* border: 2px solid black; */
  border-radius: 10px;
  box-shadow: 0px 0px 25px #3456;
  /* backdrop-filter: brightness(1.1); */
  background-image: radial-gradient(#fff5, transparent);
}

form > div{
  margin-block: 1rem;
}

label{
  display:block;
  /* font-size: 1.25rem; */
}

input, select, button{
  outline: 2px solid black;
  /* border: 2px solid black; */
  padding: 0.5rem 1rem;
  border-radius: 4px;
  min-width: 15rem;
  background-color: white;
}

button{
  outline:0;
  cursor: pointer;
  border: 2px solid navy;
  background-color: #3030c0;
  color: white;
  font-variant: small-caps;
  font-size: 1rem;
  &:hover{
    filter: brightness(1.25);
  }
}

.errores{
  padding: 1rem;
  outline: 2px solid red;
  background-color: #ffddee;
  border-radius: 5px;
  max-width: 40rem;
  &:empty{
    display: none;
  }
}



div:has( input[required] ){
  position:relative;
}
div:has( input[required] )::before{
  content: "*";
  position:absolute;
  font-size: 2rem;
  font-weight: 900;
  left:-1.5rem;
  top:1.5rem;
  color: rgb(255, 100, 100);
  padding: 0.25rem;
}


label[data-ayuda]:has( input:focus )::after{
  content: " Ayuda: " attr(data-ayuda);
  font-size: 0.95rem;
  margin-left: 1rem;
  color: cyan;
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  padding: 0.5rem;
  border-radius: 10px;
}


/* Probar la diferencia entre :invalid y :user-invalid*/
input:user-invalid{
  outline: 2px solid red;
  background-color: #ffddee;
}

/* input:valid{
  outline: 2px solid  blue;
} */