
.autogrid {
  --min-col-size: 100px;
  display: grid;
  gap: 1rem;
  /*auto-fill es mejor si el nº de elementos va a cambiar (añadir, filtrar, ...)*/
  grid-template-columns:
   repeat(auto-fill, minmax( min(var(--min-col-size), 100%), 1fr));
}

.autogrid div{
  min-height: 6rem;
  display: grid;
  place-content: center;
}

*,::after,::before{
	box-sizing: border-box;
}

body{
  background-color: #222;
  color: whitesmoke;
}

#idParrafo{
  border: 1px solid white;
  padding: 0.5rem;
}

#idDiv{
  border: 1px solid red;
  padding: 0.5rem;
}
a{
  color: turquoise;
}